doctype html
html(lang='ru')
  head
    title Free Life
    meta(charset='utf-8')
    link(href='css/main.css' rel='stylesheet')
    link(href='css/header.css' rel='stylesheet')
    link(href='css/footer.css' rel='stylesheet')
    link(href='css/hover.css' rel='stylesheet')
  body
    div(class='content')
      header(class='main-header')
        div(class='main-header-toggle-btn')
        nav(class='nav-green-hover')
          a(href='#') Главная
          a(href='#') Новости
          a(href='#') О нас
          a(href='#') Фото
          a(href='#') Что почитать
          a(href='#') Контакты
      div(class='main-info')
        div(class='main-info-text')
          | Many animals endure prolonged, painful deaths when they are injured but not killed by hunters. A study of 80 radio-collared white-tailed deer found that of the 22 deer who had been shot with “traditional archery equipment,” 11 were wounded but not recovered by hunters.Twenty percent of foxes who have been wounded by hunters are shot again. Just 10 percent manage to escape, but “starvation is a likely fate” for them, according to one veterinarian. A South Dakota Department of Game, Fish and Parks biologist estimates that more than 3 million wounded ducks go “unretrieved” every year. A British study of deer hunting found that 11 percent of deer who’d been killed by hunters died only after being shot two or more times and that some wounded deer suffered for more than 15 minutes before dying.Hunting disrupts migration and hibernation patterns and destroys families. For animals such as wolves, who mate for life and live in close-knit family units, hunting can devastate entire communities. The stress that hunted animals suffer—caused by fear and the inescapable loud noises and other commotion that hunters create—also severely compromises their normal eating habits, making it hard for them to store the fat and energy that they need in order to survive the winter.
      div(class='main-contacts')
        header Be an angel <br> for animals
        div(class='main-contacts-icons')
          a(href='#')
            img(src='img/facebook_logo.png')
          a(href='#')
            img(src='img/google_plus_logo.png')
          a(href='#')
            img(src='img/tumblr_social_logo.png')
      div(class='main-contacts-background')
      footer(class='main-footer')
        div(class='footer-events')
          header События
          div(class='footer-event')
            div(class='footer-event-date')
              div(class='day') 20
              div Окт
            div(class='footer-event-name') Наше первое выступление  
          div(class='footer-event')
            div(class='footer-event-date')
              div(class='day') 21
              div Окт
            div(class='footer-event-name') Заплыв на спасательных жилетах
          div(class='footer-event')
            div(class='footer-event-date')
              div(class='day') 22
              div Окт
            div(class='footer-event-name') Спортивная охота в Городе
        div(class='footer-news')
          header Новости
          div(class='light-green-hover')
            a(href='#') Мы отпраздновали 200-летие черепахи
            a(href='#') Прошла третья спортивная охота в Городе
            a(href='#') Первая партия синтетического мяса будет поставлена в 2116
            a(href='#') Заплыв на спасательных жилетах приостановлен в связи с возможным штормом
        div(class='footer-igramm')
          header Мы в Igramm
          div(class='footer-igramm-photos')
            -for (var i = 0; i < 12; i++)
              a(href='#')
                img(src='img/1.jpg' alt='img')
        div(class='footer-useful')
          header Полезное
          ul(class='light-green-hover')
            li 
              a(href='#') О нас
            li
              a(href='#') Наши статьи
            li
              a(href='#') Реквизиты
            li
              a(href='#') Контакты
      script(src='js/jquery-3.1.1.min.js')
      script(src='js/main.js')
